<%-include('../layouts/header.ejs') %>
  <%-include('../layouts/sidebar.ejs') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


      <!-- Main content -->
      <div class="content">
        <br>
        <br>
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Change Password</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <% if(msg.length> 0){ %>
              <div class="alert alert-danger">
                      <%= msg %>
              </div>
              <% } %>
              <% if(msg1.length> 0){ %>
                <div class="alert alert-success">
                        <%= msg1 %>
                </div>
                <% } %>
            <form action="/updatepassword" method="post">
                <div class="form-group">
                  <label>old Password</label>
                  <input type="password"  name="oldpassword" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <input type="password"  name="newpassword" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input  type="password"  name="cpassword" class="form-control" required>
                </div>
                <button class="btn btn-success" type="Submit">Update Password</button>
              </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!--modal start-->

      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%-include('../layouts/footer.ejs') %>